{% extends 'base_for_addedit.html' %} {% block content %}
<title>Infersion Müşteri Düzenleme</title>

<div class="container2" style="margin: 120px 0px 50px 400px;">
        <form class="contact" action="edit" method="post" style="height:520px; margin-top: 5px;">
          {% csrf_token %}
          <h3>Müşteri Düzenle</h3>
          <h4>Lütfen müşteri bilgilerini giriniz.</h4>
          {% for c in cus %}
          <input value="editCustomer" type="hidden" tabindex="2" name="edit_what" required/>
          <input value="{{c.pk}}" type="hidden" tabindex="2" name="pk" required/>
          
          <fieldset>
            <input value="{{c.customerName}}" type="text" tabindex="2" name="cus_name" required/>
          </fieldset>
          <fieldset>
              <select name="cus_situ" class="form-control" placeholder="Müşteri Durumu..">
                  <option value="Aktif"  {% if c.customerSituation == "Aktif" %} selected {% endif %} >Aktif</option>
                  <option value="Pasif"  {% if c.customerSituation == "Pasif" %} selected {% endif %} >Pasif</option>
                
              </select>
          </fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Düzenle</button>
        
          </fieldset>
          {% endfor %}
        </form>
      </div>
{% endblock %}