{% extends 'base.html' %} {% block content %}
<title>Infersion Müşteri Düzenleme</title>

<div class="container2">
        <form class="contact" action="edit" method="post" style="height:520px; margin-top: 5px;">
          {% csrf_token %}
          <h3>Müşteri Düzenle</h3>
          <h4>Lütfen müşteri bilgilerini giriniz.</h4>
          {% for c in cus %}
          <input value="editCustomer" type="hidden" tabindex="2" name="edit_what" required/>
          <input value="{{c.pk}}" type="hidden" tabindex="2" name="pk" required/>
          
          <fieldset>
            <input value="{{c.customerName}}" type="text" tabindex="2" name="cus_name" required/>
          </fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Düzenle</button>
          </fieldset>
          {% endfor %}
        </form>
      </div>
{% endblock %}