{% extends 'base.html' %} {% block content %}
<div class="container2">
        <form class="contact" action="edit" method="post" style="height:370px; margin-top: 5px;">
          {% csrf_token %}
          <h3>Veritabanı Düzenle</h3>
          <h4>Lütfen veritabanı bilgilerini giriniz.</h4>
          <fieldset>
            <input type="hidden" tabindex="1" name="edit_what" value="editDB" required autofocus>
            <input type="hidden" tabindex="1" name="id" value="{{dbData.pk}}" required autofocus>

          </fieldset>
      
          <fieldset>
            <input value="{{dbData.databaseName}}" type="text" tabindex="2" name="db_name" required>
          </fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
          </fieldset>
        </form>
      </div>
      {% endblock %}