{% extends 'base_for_addedit.html' %} {% block content %}
<title>Infersion Database Düzenleme</title>

<div class="container2" style="margin: 120px 0px 50px 400px;">
        <form class="contact" action="edit" method="post" style="height:370px; margin-top: 5px;">
          {% csrf_token %}
          <h3>Veritabanı Düzenle</h3>
          <h4>Lütfen veritabanı bilgilerini giriniz.</h4>
          <fieldset>
            <input type="hidden" tabindex="1" name="edit_what" value="editDB" required autofocus>
            <input type="hidden" tabindex="1" name="id" value="{{dbData.pk}}" required autofocus>

          </fieldset>
      
          <fieldset>
            <input value="{{dbData.databaseName}}" type="text" tabindex="2" name="db_name" required>
          </fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Düzenle</button>
          </fieldset>
        </form>
      </div>
      {% endblock %}