{% extends 'base.html' %} {% block content %}
<title>Infersion Ürün Düzenleme</title>

<div class="container2" style="margin: 120px 0px 50px 400px;">
        <form class="contact" action="edit" method="post" style="height:320px; ">
          {% csrf_token %}
          <h3>Ürün Ekle</h3>
          <h4>Lütfen ürün bilgilerini giriniz.</h4>
          <fieldset>
            <input type="hidden" tabindex="1" name="edit_what" value="editProd" required autofocus>
            
          </fieldset>
          {% for p in prodData %}
          <fieldset>
                <input type="hidden" tabindex="1" name="pk" value="{{p.pk}}" required autofocus>
            <input value="{{p.productName}}" type="text" tabindex="2" name="prodName" required>
          </fieldset>
          {% endfor %}
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
          </fieldset>
        </form>
      </div>
{% endblock %}