{% extends 'base.html' %} {% block content %}
<title>Infersion Ürün Modülü Düzenleme</title>

<div class="container2" style="margin: 120px 0px 50px 400px;">
        <form class="contact" action="edit" method="post">
          {% csrf_token %}
          <h3>Ürün Modülü Düzenle</h3>
          <h4>Lütfen ürün modül bilgilerini giriniz.</h4>
          <fieldset>
            <input type="hidden" tabindex="1" name="edit_what" value="editProdMod" required autofocus>
          </fieldset>
          <fieldset>
            <h4>Ürün Adı :</h4>
            <select name="pmp" class="form-control">
              {% for pr in prodMods %}
              
              <option value={{pr.pk}} {% if prodModData.pk == pr.pk %} selected {% endif %}>{{ pr.product.productName }}</option>
      
              {% endfor %}
      
            </select>
      
          </fieldset>
          <fieldset>
            <input value="{{prodModData.moduleName}}" type="text" tabindex="2" name="prodModName" required>
            <input value="{{prodModData.pk}}" type="hidden" tabindex="2" name="id" required>
          </fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
          </fieldset>
        </form>
      </div>
{% endblock %}