{% extends 'base.html' %} {% block content %}
<div class="container2">
        <form class="contact" action="edit" method="post" style="height:520px; margin-top: 5px;">
          {% csrf_token %}
          <h3>Ürün Yöneticisi Düzenle</h3>
          
          <input value="editProdMan" type="hidden" tabindex="2" name="edit_what" required/>
          <input value="{{prodData.pk}}" type="hidden" tabindex="2" name="pk" required/>
          
          <fieldset>
              <input value="{{prodData.prodManName}}" type="text" tabindex="2" name="prodMan_name" required>
            </fieldset>
            <fieldset>
              <input value="{{prodData.prodManEmail}}" type="email" tabindex="3" name="prodMan_email" required>
            </fieldset>
            <fieldset>
              <input value="{{prodData.prodManPhoneNumber}}" type="text" tabindex="4" name="prodMan_phone" required>
            </fieldset>
            <select name="cus_id" class="form-control">
              {% for c in cus %}
              <option value={{c.pk}} {% if prodData.customer.pk == c.pk %} selected {% endif %}>{{ c.customerName }}</option>
      
              {% endfor %}
      
            </select></br>
            <fieldset>
              <input type="date" tabindex="5" name="prodMan_date" id="tarihi" required>
            </fieldset>
        
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Düzenle</button>
            </fieldset>
          
        </form>
        <script>
          window.onload = function () {
              document.getElementById("tarihi").defaultValue = "{{tarih}}";
          }
      </script>
      </div>
      
{% endblock %}