{% extends 'base_for_addedit.html' %} {% block content %}
<title>Infersion Ürün Geçmişi Düzenleme
</title>

<div class="container2" style="margin: 120px 0px 50px 400px;">
  <form class="contact" action="edit" method="post" style="margin-top: 5px;">
    {% csrf_token %}
    <h3>Satış Ürün Düzenleme</h3>
    <h4>Lütfen satış bilgilerini giriniz.</h4>
    <fieldset>
      <h4>Müşteri Adı :</h4>
      <select name="cus_id" class="form-control">
        {% for c in cus %} {% if c.customerSituation == "Aktif" %}
        <option value={{c.pk}} {% if prodHis.customer.pk == c.pk %} selected {% endif %}>{{ c.customerName }}</option>
        {% endif %} {% endfor %}
      </select>

    </fieldset>
    <fieldset>
      <input type="hidden" tabindex="1" name="edit_what" value="editProdHis" required autofocus>
      <input type="hidden" tabindex="1" name="id" value="{{prodHis.pk}}" required autofocus>
    </fieldset>
    <fieldset>
      <h4>Ürün Versiyon Adı :</h4>
      <select name="prodVers_id" class="form-control">
        {% for p in prodVer %}
        <option value={{p.pk}} {% if prodHis.productversion.pk == p.pk %} selected {% endif %}>{{p.productmodule.product.productName}} {{p.productmodule.moduleName}} {{p.productVersionName }}</option>
        {% endfor %}
      </select>
    </fieldset>

    <fieldset>
      <h4>Veritabanı Versiyon Adı :</h4>
      <select name="db" class="form-control">
        {% for d in dbHis %}
        <option value={{d.pk}} {% if prodHis.databaseversion.pk == d.pk %} selected {% endif %}> {{d.database.databaseName}} {{ d.databaseVersionName }}</option>
        {% endfor %}
      </select>

      <fieldset>
        <h4>Sunucu Versiyon Adı :</h4>
        <select name="server" class="form-control">
          {% for sv in svHis %}
          <option value={{sv.pk}} {% if prodHis.serverversion.pk == sv.pk %} selected {% endif %}> {{sv.server.serverName}} {{ sv.serverVersionName }}</option>
          {% endfor %}
        </select>
        <br>
      </fieldset>

    
      <fieldset>
        <input value="{{prodHis.url}}" type="text" tabindex="2" name="url_name">
      </fieldset>



      <h4>Satış Tarihi: </h4>
      <input placeholder="Satış Tarihi" id="satis_tarihi" type="date" tabindex="2" name="prodLoadTime_date" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Düzenle</button>
    </fieldset>
  </form>

  <script>
    window.onload = function () {
      document.getElementById("satis_tarihi").defaultValue = "{{prodHisDate}}";
    }
  </script>
</div>
{% endblock %}