{% extends 'base_for_addedit.html' %} {% block content %}
<title>Infersion Sunucu Düzenleme</title>

<div class="container2" style="margin: 120px 0px 50px 400px;">
        <form class="contact" action="edit" method="post" style="height:370px; margin-top: 5px;">
          {% csrf_token %}
          <h3>Sunucu Düzenleme</h3>
          <h4>Lütfen sunucu bilgilerini giriniz.</h4>
          <fieldset>
            <input type="hidden" tabindex="1" name="edit_what" value="editServer" required autofocus>
          </fieldset>
      
          <fieldset>
            <input value="{{server.serverName}}" type="text" tabindex="2" name="server_name" required>
            <input type="hidden" tabindex="1" name="id" value="{{server.pk}}" required autofocus>
          </fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Düzenle</button>
          </fieldset>
        </form>
      </div>
{% endblock %}