{% extends 'base_for_addedit.html' %} {% block content %}
<title>Infersion Teknik Sorumlu Düzenleme</title>

<div class="container2" style="margin: 120px 0px 50px 400px;">
        <form class="contact" action="edit" method="post" style="height:520px; margin-top: 5px;">
          {% csrf_token %}
          <h3>Ürün Yöneticisi Düzenle</h3>
          <input value="editTechMan" type="hidden" tabindex="2" name="edit_what" required/>
          <input value="{{techData.pk}}" type="hidden" tabindex="2" name="id" required/>
          
          <fieldset>
              <input value="{{techData.techManName}}" type="text" tabindex="2" name="techMan_name" required>
            </fieldset>
            <fieldset>
              <input value="{{techData.techManEmail}}" type="email" tabindex="3" name="techMan_email" required>
            </fieldset>
            <fieldset>
              <input value="{{techData.techManPhoneNumber}}" type="text" tabindex="4" name="techMan_phone" required>
            </fieldset>
            <select name="cus_id" class="form-control">
                {% for c in cus %}
                <option value={{c.pk}} {% if techData.customer.pk == c.pk %} selected {% endif %}>{{ c.customerName }}</option>
        
                {% endfor %}
                </select><br>
            <fieldset>
              <input type="date" tabindex="5" name="techMan_date" id="tarihi" required>
            </fieldset>
            
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Düzenle</button>
            </fieldset>
        </form>
      </div>
      <script>
        window.onload = function () {
            document.getElementById("tarihi").defaultValue = "{{tarih}}";
        }
    </script>
{% endblock %}