{% include 'partials/header_add_display.html' %}

  <div style="width: 700px; margin: 0px auto; float: left;">
    {% include  'addCustomerInfo.html' %}
    {% include  'addProductManager.html' %}
    {% include  'addTechnicalManager.html' %}
    {% include  'addProductInfo.html' %}
    {% include  'addProductModule.html' %}
    {% include  'addProductVersion.html' %}
    {% include  'addDatabaseInfo.html' %}
    {% include  'addDatabaseVersion.html' %}
    {% include  'addServerInfo.html' %}
    {% include  'addServerVersion.html' %} 
    {% include  'addProductHistory.html' %}
    {% include  'addTestProductHistory.html' %}
    {% include  'addInfinaWorkerHistory.html' %} 
  </div>

 

{% include 'partials/footer.html' %}