<div style="border: 1px solid black; width:500px; margin: 10px auto; padding:20px;">
    <form action="add" method="POST">
        {% csrf_token %}
        <input type="hidden" name="add_what" value="testLoadTime">
        <h4>Test Ürün </h4><br>
        Müşteri Id :  <input type="text" name="cus_id" /><br>
        Ürün Versiyonu Id :  <input type="text" name="prodVers_id" /><br>
        Veritabanı Versiyon Id :  <input type="text" name="dbVer_id" /><br>
        Sunucu Versiyon Id :  <input type="text" name="svVer_id" /><br>
        Test Ürün  Yüklenme Tarihi : <input type="date" name="testLoadTime_date" /><br><br>
        <input type="submit">
    </form>
</div>