<div class="container2">
  <form class="contact" action="add" method="post" style="height:370px; margin-top: 5px;">
    {% csrf_token %}
    <h3>Veritabanı Ekle</h3>
    <h4>Lütfen veritabanı bilgilerini giriniz.</h4>
    <fieldset>
      <input type="hidden" tabindex="1" name="add_what" value="db" required autofocus>
    </fieldset>

    <fieldset>
      <input placeholder="Veritabanı Adı" type="text" tabindex="2" name="db_name" required>
    </fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
    </fieldset>
  </form>
</div>