<div class="container2" style="margin: 120px 0px 50px 400px;">
  <form class="contact" action="add" method="post">
    {% csrf_token %}
    <h3>Infina Çalışanı Tarihçesi</h3>
    <h4>Lütfen çalışan bilgilerini giriniz.</h4>

    <fieldset>
      <h4>Ürün Versiyon Adı :</h4>
      <select name="prodHis_id" class="form-control">
        {% for p in prodVer %}
        <option value={{p.pk}}>{{ p.productVersionName }}</option>
        {% endfor %}
      </select>
    </fieldset>


    <fieldset>
      <input type="hidden" tabindex="2" name="add_what" value="infHis" required autofocus>
    </fieldset>
    <fieldset>
      <h4>Test Ürün Versiyon Adı :</h4>
      <select name="tprodHis_id" class="form-control">
        {% for t in tprodVer %}
        <option value={{t.pk}}>{{ t.testProductVersionName }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <fieldset>
      <input placeholder="Çalışan Adı" type="text" tabindex="2" name="infHis_name" required>
    </fieldset>
    <fieldset>
      <input placeholder="Çalışan Soyadı" type="text" tabindex="2" name="infHis_surname" required>
    </fieldset>
    <fieldset>
      <input placeholder="Kayıt Tarihi" type="date" tabindex="5" name="infHis_date" required>
    </fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>

  </form>
</div>