{% extends 'base.html' %} {% block content %}
<title>Infersion Ürün Modülü</title>
<div class="container2" style="margin: 120px 0px 50px 400px;">
  <form class="contact" action="add" method="post">
    {% csrf_token %}
    <h3>Ürün Modülü Ekle</h3>
    <h4>Lütfen ürün modül bilgilerini giriniz.</h4>
    <fieldset>
      <input type="hidden" tabindex="1" name="add_what" value="prodMod" required autofocus>
    </fieldset>
    <fieldset>
      <h4>Ürün Adı :</h4>
      <select name="prod_id" class="form-control">
        {% for pr in prods %}
        <option value={{pr.pk}}>{{ pr.productName }}</option>

        {% endfor %}

      </select>

    </fieldset>
    <fieldset>
      <input placeholder="Ürün Modülü Adı" type="text" tabindex="2" name="prodMod_name" required>
    </fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
    </fieldset>
  </form>
</div>
{% endblock %}