{% extends 'base.html' %} {% block content %}
<title>Infersion Ürün Ekle</title>
<div class="container2">
  <form class="contact" action="add" method="post" style="height:320px; ">
    {% csrf_token %}
    <h3>Ürün Ekle</h3>
    <h4>Lütfen ürün bilgilerini giriniz.</h4>
    <fieldset>
      <input type="hidden" tabindex="1" name="add_what" value="prod" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Ürün Adı" type="text" tabindex="2" name="prod_name" required>
    </fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
    </fieldset>
  </form>
</div>
{% endblock %}