{% extends 'base_for_addedit.html' %} {% block content %}
<title>Infersion Sunucu Ekle</title>
<div class="container2" style="margin: 120px 0px 50px 400px;">
  <form class="contact" action="add" method="post" style="height:370px; margin-top: 5px;">
    {% csrf_token %}
    <h3>Sunucu Ekleme</h3>
    <h4>Lütfen sunucu bilgilerini giriniz.</h4>
    <fieldset>
      <input type="hidden" tabindex="1" name="add_what" value="server" required autofocus>
    </fieldset>

    <fieldset>
      <input placeholder="Sunucu Adı" type="text" tabindex="2" name="server_name" required>
    </fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
    </fieldset>
  </form>
</div>
{% endblock %}