{% extends 'base.html' %} {% block content %}
<title>Infersion Sunucu Versiyonu</title>
<div class="container2" style="margin: 120px 0px 50px 400px;">
  <form class="contact" action="add" method="post" style="height:370px; margin-top: 5px;">
    {% csrf_token %}
    <h3>Sunucu Versiyonu Ekle</h3>
    <h4>Lütfen sunucu versiyon bilgilerini giriniz.</h4>
    <fieldset>
      <input type="hidden" tabindex="1" name="add_what" value="svHis" required autofocus>
    </fieldset>
    <fieldset>
      <h4>Sunucu Adı :</h4>
      <select name="sv_id" class="form-control">
        {% for s in servers %}
        <option value={{s.pk}}>{{ s.serverName }}</option>

        {% endfor %}

      </select>

    </fieldset>
    <fieldset>
      <input placeholder="Sunucu Versiyonu Adı" type="text" tabindex="2" name="svVer_name" required>
    </fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
    </fieldset>
  </form>
</div>
{% endblock %}