{% extends 'base_for_addedit.html' %} {% block content %}
<title>Infersion Teknik Sorumlu</title>
<div class="container2" style="margin: 120px 0px 50px 400px;">
  <form class="contact" action="add" method="post" style="height:520px;  margin-top: 5px;">
    {% csrf_token %}
    <h3>Teknik Sorumlu Ekle</h3>
    <h4>Lütfen teknik ürün sorumlusu bilgilerini giriniz.</h4>
    <input type="hidden" name="add_what" value="techMan">

    <fieldset>
      <h4>Müşteri Adı :</h4>
      <select name="cus_id" class="form-control">
        {% for c in cus %}
          {% if c.customerSituation == "Aktif" %}
            <option value={{c.pk}}>{{ c.customerName }}</option>
          {% endif %}
        {% endfor %}
      </select>

    </fieldset>
    <fieldset>
      <input placeholder="Teknik Sorumlu Adı" type="text" tabindex="2" name="techMan_name" required>
    </fieldset>
    <fieldset>
      <input placeholder="Mail Adresi" type="email" tabindex="3" name="techMan_email" required>
    </fieldset>
    <fieldset>
      <input placeholder="Telefon Numarası" type="number" style="text-indent: 10px;" tabindex="4" name="techMan_phone" required>
    </fieldset>
    <fieldset>
      <input placeholder="Tarih" type="date" tabindex="5" name="techMan_date" id="tarihi" required>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
    </fieldset>
  </form>
</div>
<script>
    window.onload = function () {
      var date = new Date();
      var mounth="";
      if((date.getMonth() + 1)<10){
        mounth = "0"+(date.getMonth() + 1);
      }
      else{
        mounth=(date.getMonth() + 1);
      }
      var date = new Date();
      var day="";
      if((date.getDate() + 1)<10){
        day = "0"+(date.getDate() + 1);
      }
      else{
        day=(date.getDate() + 1);
      }
      document.getElementById("tarihi").defaultValue = date.getFullYear() + '-' + mounth + '-' +  day;
      }
  </script>
{% endblock %}