{% extends 'base.html' %} {% block content %}

<ul id="containerManageTabs" class="nav nav-tabs">
  <li class="nav-item">
    <a href="" data-target="#customerContainer" data-toggle="tab" class="nav-link small active">Müşteri Yönetimi</a>
  </li>
  <li class="nav-item">
    <a href="" data-target="#productContainer" data-toggle="tab" class="nav-link small">Ürün Yönetimi</a>
  </li>
  <li class="nav-item">
    <a href="" data-target="#environmentContainer" data-toggle="tab" class="nav-link small">Ortam Yönetimi</a>
  </li>
  <li class="nav-item">
    <a href="" data-target="#actionContainer" data-toggle="tab" class="nav-link small">Aksiyon Yönetimi</a>
  </li>
</ul>

<div class="tab-content" style="padding: 20px 0px;">

  <div class="container tab-pane fade active show" id="customerContainer">
    <div class="row">
      <div class="col-md">
        {% include 'adds/customerInfo.html' %}
      </div>
      <div class="col-md">
        {% include 'adds/productManager.html' %}
      </div>
      <div class="col-md">
        {% include 'adds/technicalManager.html' %}
      </div>
    </div>
  </div>


  <div class="container tab-pane fade" id="productContainer">
    <div class="row">
      <div class="col-md-4">
        {% include 'adds/productInfo.html' %} </div>
      <div class="col-md-4">
        {% include 'adds/productModule.html' %}
      </div>
      <div class="col-md-4">
        {% include 'adds/productVersion.html' %}
      </div>
    </div>
  </div>

  <div class="container tab-pane fade" id="environmentContainer">
    <div class="row">
      <div class="col-md-6">
        {% include 'adds/databaseInfo.html' %}
      </div>
      <div class="col-md-6">
        {% include 'adds/databaseVersion.html' %}
      </div>
      <div class="col-md-6">
        {% include 'adds/serverInfo.html' %}
      </div>
      <div class="col-md-6">
        {% include 'adds/serverVersion.html' %}
      </div>
    </div>
  </div>


  <div class="container tab-pane fade" id="actionContainer">
    <div class="row">
      <div class="col-md-6">
        {% include 'adds/productHistory.html' %}
      </div>
      <div class="col-md-6">
        {% include 'adds/testProductHistory.html' %}
      </div>
    </div>
  </div>

</div>
{% endblock %}