{% extends 'base.html' %} {% block content %}

<title>Infersion Yönet</title>

<div class="nav-side-menu">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <li data-toggle="collapse" data-target="#customer" class="collapsed active">
        <a href="#">
          <i class="fa fa-users"></i> Müşteri Yönetimi</a>
      </li>
      <ul class="sub-menu collapse" id="customer">
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('customerInfo');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Müşteri</li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('prodMans');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Ürün Sorumlusu</li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('techMans');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Teknik Sorumlu </li>
        </a>
      </ul>

      <li data-toggle="collapse" data-target="#productManagement" class="collapsed active">
        <a href="#">
          <i class="fa fa-cubes"></i> Ürün Yönetimi</a>
      </li>
      <ul class="sub-menu collapse" id="productManagement">
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('products');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Ürünler</li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('prodModule');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Ürün Modülleri</li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('prodVer');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Ürün Versiyonları</li>
        </a>
      </ul>


      <li data-toggle="collapse" data-target="#envManagement" class="collapsed active">
        <a href="#">
          <i class="fa fa-globe"></i> Ortam Yönetimi</a>
      </li>
      <ul class="sub-menu collapse" id="envManagement">
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('databases');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Veritabanı</li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('dbVers');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Veritabanı Versiyonları</li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('servers');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Sunucular</li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('serverVer');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Sunucu Versiyonları</li>
        </a>
      </ul>

      <li data-toggle="collapse" data-target="#actManagement" class="collapsed active">
        <a href="#">
          <i class="fab fa-asymmetrik"></i> Aksiyon Yönetimi</a>
      </li>
      <ul class="sub-menu collapse" id="actManagement">
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('prodHis');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Prod Ürün Geçmişi </li>
        </a>
        <a style="color: whitesmoke; text-decoration: none;" onclick="kapat('testHis');" href="#" data-toggle="collapse">
          <li>
            <i class="fas fa-arrow-right"></i> Test Ürün Geçmişi</li>
        </a>
      </ul>

  </div>
</div>
<div id="addcustomerInfo" class="collapse" style="margin: 90px 0px 0px 153px; text-align: center;" data-toggle="addCustomer">
  <h4>Bu tablo boş görünüyor. Eklemek İçin Tıklayın: </h4>
  <a href="{% url 'addCus'%}">
    <i class="fa fa-plus-square" style="color:#be5254; font-size: 140px;"></i>
  </a>
</div>

<div id="customerInfo" class="collapse" style="margin: 90px 0px 0px 153px;" data-toggle="customerInfo">
  <div>
    <table style="width: 75%; position: relative; z-index: 1;" id="cusTable"></table>
  </div>
</div>


<div id="prodMans" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Ürün Sorumlusu</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Telefon</th>
        <th scope="col">Tarihi</th>
        <th scope="col">Müşterisi</th>
        <th scope="col"></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addProdMan'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>
      </tr>
      {% for p in prodMan %} {% if p.customer.customerSituation == "Aktif" %}
      <tr>
        <td>{{p.prodManName}}</td>
        <td>{{p.prodManEmail}}</td>
        <td>{{p.prodManPhoneNumber}}</td>
        <td>{{p.whenIsProdManResponsible}}</td>
        <td>{{p.customer.customerName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=prodMan&id={{p.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=prodMan&id={{p.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endif %} {% endfor %}
    </table>
  </div>
</div>

<div id="techMans" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Teknik Sorumlu</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Telefon</th>
        <th scope="col">Tarihi</th>
        <th scope="col">Müşterisi</th>
        <th scope="col"></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addTechMan'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>
      </tr>

      {% for t in techMan %} {% if t.customer.customerSituation == "Aktif" %}
      <tr>
        <td>{{t.techManName}}</td>
        <td>{{t.techManEmail}}</td>
        <td>{{t.techManPhoneNumber}}</td>
        <td>{{t.whenIsTechManResponsible}}</td>
        <td>{{t.customer.customerName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=techMan&id={{t.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=techMan&id={{t.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px;  cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endif %} {% endfor %}
    </table>
  </div>
</div>


<div id="products" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Ürün Adı</th>
        <th></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addProd'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>
      </tr>
      {% for p in prod %}
      <tr>
        <td>{{p.productName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=prod&id={{p.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=prod&id={{p.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div id="prodModule" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Modül Adı</th>
        <th scope="col">Ürün</th>
        <th></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addProdMod'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>
      </tr>
      {% for pm in prodMod %}
      <tr>
        <td>{{pm.moduleName}}</td>
        <td>{{pm.product.productName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=prodMod&id={{pm.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=prodMod&id={{pm.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<div id="prodVer" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Versiyon Adı</th>
        <th scope="col">Modülü</th>
        <th></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addProdVer'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>

      </tr>
      {% for pv in prodVer %}
      <tr>
        <td>{{pv.productVersionName}}</td>
        <td>{{pv.productmodule.product.productName}}, {{pv.productmodule.moduleName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=prodVer&id={{pv.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=prodVer&id={{pv.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<div id="dbVers" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Versiyon Adı</th>
        <th scope="col">Veritabanı</th>
        <th></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addDbVer'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>

      </tr>
      {% for dv in dbHis %}
      <tr>
        <td>{{dv.databaseVersionName}}</td>
        <td>{{dv.database.databaseName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=dbVer&id={{dv.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=dbVer&id={{dv.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>

      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<div id="databases" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Veritabanı Adı</th>
        <th></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addDB'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>
      </tr>
      {% for d in db %}
      <tr>
        <td>{{d.databaseName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=db&id={{d.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=db&id={{d.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>



<div id="servers" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Sunucu Adı</th>
        <th></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addServer'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>
      </tr>
      {% for s in server %}
      <tr>
        <td>{{s.serverName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=server&id={{s.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=sv&id={{s.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<div id="serverVer" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="width: 100%; text-align: left; padding: 0px 50px;">
    <table class="table">
      <tr>
        <th scope="col">Versiyon Adı</th>
        <th scope="col">Sunucu</th>
        <th></th>
        <th style="cursor: pointer;">
          <a style="color: whitesmoke; text-decoration: none;" href="{% url 'addServerVer'%}">
            <div>
              <i style="cursor: pointer; font-size:20px;" class="fas fa-plus-circle"></i> Ekle</div>
          </a>
        </th>
      </tr>
      {% for sv in svHis %}
      <tr>
        <td>{{sv.serverVersionName}}</td>
        <td>{{sv.server.serverName}}</td>
        <td style="cursor: pointer;">
          <a class="benima" href="/main/edit?what=serverVer&id={{sv.pk}}">
            <div>
              <i class="fas fa-edit" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Düzenle</div>
          </a>
        </td>
        <td>
          <a id="delete" class="benima" href="/main/delete?what=svVer&id={{sv.pk}}" style=" cursor: pointer;">
            <i class="fas fa-trash-alt" style="color: #be5254; font-size:20px; cursor: pointer;"></i>Sil</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<div id="prodHis" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="display:block;margin:120px auto;  background-color: white;">
    <table id="prodTable" style="position: relative; z-index: 1; width:50%; margin:10px auto;"></table>
  </div>
</div>

<div id="addprodHis" class="collapse" style="margin: 90px 0px 0px 153px; text-align: center;" data-toggle="addprodHis">
  <h4>Önce müşteri eklemeniz gerekmektedir; </h4>
  <a href="{% url 'addCus'%}">
    <i class="fa fa-plus-square" style="color:#be5254; font-size: 140px;"></i>
  </a>
</div>

<div id="addtestHis" class="collapse" style="margin: 90px 0px 0px 153px; text-align: center;" data-toggle="addtestHis">
  <h4>Önce müşteri eklemeniz gerekmektedir; </h4>
  <a href="{% url 'addCus'%}">
    <i class="fa fa-plus-square" style="color:#be5254; font-size: 140px;"></i>
  </a>
</div>

<div id="testHis" class="collapse" style="margin: 90px 0px 0px 153px;">
  <div style="display:block;margin:120px auto;background-color: white;">
    <table id="testTable" style="position: relative; z-index: 1; width:50%; margin:10px auto;"></table>
  </div>
</div>


<script>
  var data = JSON.parse('{{jsondata.0|safe}}');
  var dataId = JSON.parse('{{jsondata.1|safe}}');
  var urlProd = "{% url "addProdHis"%}";
  var urlTest = "{% url "addTestHis"%}";
  prodHisTableFunc(data,dataId, urlProd);
  testHisTableFunc(data,dataId, urlTest);
  var urlCus = "{% url "addCus"%}";
  var data = JSON.parse('{{jsondata.2|safe}}');
  var dataId = JSON.parse('{{jsondata.3|safe}}');
  cusTableFunc(data,dataId, urlCus);

  customerUyariFunc();

function kapat(what) {
    $('#customerInfo').removeClass('show');
    $('#prodMans').removeClass('show');
    $('#techMans').removeClass('show');
    $('#products').removeClass('show');
    $('#prodModule').removeClass('show');
    $('#prodVer').removeClass('show');
    $('#dbVers').removeClass('show');
    $('#databases').removeClass('show');
    $('#servers').removeClass('show');
    $('#serverVer').removeClass('show');
    $('#prodHis').removeClass('show');
    $('#testHis').removeClass('show');
    $('#addcustomerInfo').removeClass('show');
    $('#addprodHis').removeClass('show');
    $('#addtestHis').removeClass('show');
    $('#' + what).addClass('show');
    if (what == 'customerInfo') {
      try {
        JSON.parse('{{jsondata.2|safe}}')['cusArr'].length;
      }
      catch (err) {
        $('#addcustomerInfo').addClass('show');
      }
    }

    if (what == "prodHis" && $('#prodTable').find("tbody").children().length < 1) {
      $('#addprodHis').addClass('show');
    }
    if (what == "testHis" && $('#testTable').find("tbody").children().length < 1) {
      $('#addtestHis').addClass('show');
    }
}


</script> 

{% endblock %}