<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<div class="container2">
  <form id="contact" action="add" method="post" style="height:520px;">
         {% csrf_token %}
    <h3>Müşteri Ekle</h3>
    <h4>Lütfen müşteri bilgilerini giriniz.</h4>
    <fieldset>
      <input type="hidden" tabindex="1" name="add_what" value="cus" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Müşteri Adı" type="text" tabindex="2" name="cus_name" required>
    </fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Ekle</button>
    </fieldset>
  </form>
</div>

