<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <tr>
            <th scope="col">Test/Canlı</th>
            <th scope="col">Ürün</th>
            <th scope="col">Versiyon</th>
            <th scope="col">Yükleme Tarihi</th>
            <th scope="col">Sunucu </th>
            <th scope="col">Veri Tabanı</th>
        </tr>
        {% for d in prodData %}
        <tr>
            <td>Canlı</td>
            <td>{{d.productversion.productmodule.product.productName}} {{d.productversion.productmodule.moduleName}}</td>
            <td>{{d.productversion.productVersionName}}</td>
            <td>{{d.prodInstallationTime}}</td>
            <td>{{d.serverversion.server.serverName}} {{d.serverversion.serverVersionName}}</td>
            <td>{{d.databaseversion.database.databaseName}} {{d.databaseversion.databaseVersionName}}</td>
        </tr>
        {% endfor %}

        {% for d in testData %}
        <tr>
            <td>Test</td>
            <td>{{d.productversion.productmodule.product.productName}} {{d.productversion.productmodule.moduleName}}</td>
            <td>{{d.productversion.productVersionName}}</td>
            <td>{{d.testInstallationTime}}</td>
            <td>{{d.serverversion.server.serverName}} {{d.serverversion.serverVersionName}}</td>
            <td>{{d.databaseversion.database.databaseName}} {{d.databaseversion.databaseVersionName}}</td>
        </tr>
        {% endfor %}
    </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>