{% extends 'base_for_details.html' %} {% block content %}
<title>Infersion Detay</title>
<div  style="margin: 90px 0px 0px 153px;">
    <div>
        <table id="prodtestTable"></table>
    </div>
</div>
<script>
  var data = JSON.parse('{{jsondata.0|safe}}');
  var dataId = JSON.parse('{{jsondata.1|safe}}');
  console.log(data['pArr'].concat(data['tpArr']));
  $(document).ready(function () {
    
    $('#prodtestTable').DataTable({
      data: data['pArr'].concat(data['tpArr']),
      columns: [{
        title: "Ürün Tipi"
      },
      {
        title: "Ürün"
      },
      {
        title: "Yükleme Tarihi"
      },
      {
        title: "Veri Tabanı"
      },
      {
        title: "Sunucu"
      },
      {
        title: "Eklemeyi Yapan"
      },
      {
        title: "Ürün URL"
      },
      {
        title: "Veritabanı URL"
      }
      ]
    });

  });
</script>    
{% endblock %}
  

