<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'partials/header_add_display.html' %}
    <table class="table">
        <tr>
            <th scope="col">Ürün Tipi</th>
            <th scope="col">Ürün</th>
            <th scope="col">Tarihi</th>
            <th scope="col">Database</th>
            <th scope="col">Database Versiyonu</th>
            <th scope="col">Server</th>
            <th scope="col">Server Versiyonu</th>
            <th scope="col">Ürün Sorumlusu</th>
            <th scope="col">Teknik Sorumlu</th>
        </tr>
        {% for d in prodData %}
        <tr>
            <th>Ürün</th>
            <th>{{d.productversion.productmodule.product.productName}}</th>
            <th>{{d.prodInstallationTime}}</th>
            <th>{{d.databaseversion.database.databaseName}}</th>
            <th>{{d.databaseversion.databaseVersionName}}</th>
            <th>{{d.serverversion.server.serverName}}</th>
            <th>{{d.serverversion.serverVersionName}}</th>
            <th>{{prodMan.prodManName}}</th>
            <th>{{techMan.techManName}}</th>
        </tr>
        {% endfor %}
    </table>

</body>
</html>