{% extends 'base.html' %} {% block content %}
<title>Infersion</title>
<!-- <div class="container">
    <h2>Müşteriler</h2>
    {% for d in data %}
    <button class="displayHeaderButton" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{d.cus.pk}}">
        <h4>
            <b>{{ d.cus.customerName }}</b>
        </h4> [ Ürün Sorumlusu: {{ d.prodMan.prodManName }} - {{d.prodMan.prodManPhoneNumber}} / Teknik Sorumlu: {{ d.techMan.techManName }} - {{d.techMan.techManPhoneNumber}} ]</button>
    
    <div id="demo{{d.cus.pk}}" class="collapse" style="margin: 20px 0px;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ürün Tipi</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Tarihi</th>
                </tr>
            </thead>
            <tbody>
                {% for k,ph in d.prodHist.items %}
                <tr>
                    <td>Canlı</td>
                    <td>{{ph.productversion.productmodule.product.productName}}, {{ph.productversion.productmodule.moduleName}},
                        {{ph.productversion.productVersionName}}
                    </td>
                    <td>{{ph.prodInstallationTime}}</td>
                </tr>
                {% endfor %}

                {% for k,ph in d.testProdHist.items %}
                <tr>
                    <td>Test</td>
                    <td>{{ph.productversion.productmodule.product.productName}}, {{ph.productversion.productmodule.moduleName}},
                        {{ph.productversion.productVersionName}}
                    </td>
                    <td>{{ph.testInstallationTime}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td style="cursor: pointer;" onclick="var myWindow = window.open('/main/detay?id={{d.cus.pk}}', 'Geçmiş Kayıtlar', 'width=700, height=400');"><i class="fas fa-file-alt"></i>Geçmiş Kayıtlar</td>
                </tr>
            </tbody>
        </table>
        
        
    </div>
    {% endfor %}
</div>
-->
<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn"  data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
            <input class="searchSide" type="text"  id="myInput" onkeyup="searchCustomer()" onfocus="this.placeholder = ' '" placeholder="Müşteri ara.." title="İsim girin">
            <ul id="menu-content" class="menu-content collapse out" style="margin-bottom:15px;">
                {% for d in data %}
                <li data-toggle="collapse" class="collapsed active" onclick="kapat('{{d.cus.pk}}');" >
                  <a href="#" ><i class="fa fa-user"></i>{{ d.cus.customerName }}</a>
                </li>
                {% endfor %}
            </ul>
                
     </div>
</div>

<div class="container">
<div class="row" >
    {% for d in data %}
    <div id="demo{{d.cus.pk}}" class="collapse" style="margin: 150px auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ürün Tipi</th>
                        <th scope="col">Ürün</th>
                        <th scope="col">Yükleme Tarihi</th>
                        <th scope="col">Veritabanı</th>
                        <th scope="col">Sunucu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,ph in d.prodHist.items %}
                    <tr>
                        <td>Canlı</td>
                        <td>{{ph.productversion.productmodule.product.productName}}, {{ph.productversion.productmodule.moduleName}},
                            {{ph.productversion.productVersionName}}
                        </td>
                        <td>{{ph.prodInstallationTimeAsString}}</td>
                        <td>{{ph.databaseversion.database.databaseName}}, {{ph.databaseversion.databaseVersionName}}</td>
                        <td>{{ph.serverversion.server.serverName}}, {{ph.serverversion.serverVersionName}}</td>
                    </tr>
                    {% endfor %}

                    {% for k,ph in d.testProdHist.items %}
                    <tr>
                        <td>Test</td>
                        <td>{{ph.productversion.productmodule.product.productName}}, {{ph.productversion.productmodule.moduleName}},
                            {{ph.productversion.productVersionName}}
                        </td>
                        <td>{{ph.testInstallationTimeAsString}}</td>
                        <td>{{ph.databaseversion.database.databaseName}}, {{ph.databaseversion.databaseVersionName}}</td>
                        <td>{{ph.serverversion.server.serverName}}, {{ph.serverversion.serverVersionName}}</td>
                    
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="cursor: pointer;" onclick="myWindow = window.open('/main/detay?id={{d.cus.pk}}', 'Geçmiş Kayıtlar', 'width=1200, height=400');"><i class="fas fa-file-alt"></i>Geçmiş Kayıtlar</td>
                    </tr>
                </tbody>
            </table>
            
            
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      
        
        $("#demo{{data.0.cus.pk}}").addClass('show');
    
      
    }); 
    function kapat(what) {
        {% for d in data %}
        $('#demo{{d.cus.pk}}').removeClass('show');
        {% endfor %}
        $('#demo'+what).addClass('show');
    }
</script>
<script>
    function searchCustomer() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("menu-content");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>
{% endblock %}